{% extends 'base.html' %}

{% block title %}3PLWINNER{% endblock %}

{% block content %}
<section class="container">
            <h1 style="text-align: center;">Fedex Report Comparer</h1>
            <form method="POST" enctype="multipart/form-data">
                <div class="file-box">
                    <label>
                        Fedex Report
                        <input type="file" name="file1" accept=".csv, .xlsx" id="fileInput1">
                    </label>
                    <span class="file-name"></span>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </section>
{% endblock %}
