<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>3PLWINER Reports</title>
</head>

<body>
    <header>
        <ul>
            <div class="row">
                <li><a href="{{url_for('index')}}">Logico FI</a></li>
                <li><a href="{{url_for('second_page')}}">Luxe 3PL</a></li>
                <li><a href="{{url_for('third_page')}}" class="active">USPS 3PL</a></li>
                <li><a href="{{url_for('fourth_page')}}">FI 3PL</a></li>
                <li><a href="{{url_for('sixth_page')}}">Fedex 3PL</a></li>
                <li><a href="{{url_for('fifth_page')}}">Format DSX</a></li>
            </div>
        </ul>
        </nav>
    </header>
    <main>
        <section class="container">
            <h1 style="text-align: center;">3PLWINNER USPS Report</h1>
            <form method="POST" enctype="multipart/form-data">
                <div class="file-box">

                    <label>
                        USPS Report
                        <input type="file" name="file1" accept=".csv, .xlsx" id="fileInput1">
                    </label>
                    <span class="file-name"></span>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>